name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    container:
      image: golang:1.20-alpine
    steps:
    - uses: actions/checkout@v3

    - name: Build cmd/api
      run: go build -v ./cmd/api

    - name: Build cmd/bot
      run: go build -v ./cmd/bot

    - name: Build cmd/updater
      run: go build -v ./cmd/updater

    - name: Build cmd/cli
      run: go build -v ./cmd/cli
